
*, html {
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #bbded6;
  /* line-height: 1.2; */
}

header {
  font-family: 'Bitter', serif;
  margin-bottom: 25px;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  margin-top: 50px;
}

/* for sizing main doc and nav bar */
nav {
  text-align: center;
}

nav header {
  padding-top: 25px;
  padding-left: 25px;
  text-align: left;
}

a {
  color: black;
  font-weight: bold;
  float: left;
  position: relative;
  top: 10px;
  left: 10px;
  margin-bottom: 20px;
  text-decoration: none;
  padding: 10px 7px;
  font-size: 14px;
}

a:hover {
  color: white;
}

main {
  height: 100%;
  padding: 30px 30px 30px 30px;
  text-align: justify;
  clear: both;
  background-color: #fae3d9;
  border-top: 4px solid black;
}

p {
  margin: 10px 2px;
}

code {
  display: inline-block;
  background-color: white;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 5px 8px;
  margin: 15px 5px;
}

li {
  padding: 4px 2px;
}


@media only screen and (min-width: 900px) {
  nav {
    position: fixed;
    height: 100%;
    width: 200px;
    z-index: 1;
    float: none;
    text-align: center;
    overflow-x: hidden;
  }

  nav header {
    padding-top: 25px;
    padding-left: 0;
    text-align: center;
  }

  a {
    position: relative;
    float: none;
    display: block;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    left: 0;
    background-color: #8ac6d1;
    font-size: 16px;
  }

  main {
    margin-left: 200px;
    border-left: 4px solid black;
    border-top: none;
    overflow: visible;
  }

  section {
    margin-top: 50px;
  }

}
